
    .gwd-lightbox {
      overflow: hidden;
    }

    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    .gwd-page-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .gwd-page-content {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      position: absolute;
      background-color: transparent;
    }
    .gwd-page-wrapper {
      position: absolute;
      transform: translateZ(0px);
      background-color: rgb(255, 255, 255);
    }
    .gwd-page-size {
      width: 728px;
      height: 500px;
    }
    .gwd-img-j0w7 {
      position: absolute;
      transform-style: preserve-3d;
      width: 728px;
      transform: translate3d(-354px, 0px, 0px);
      height: 385px;
      transform-origin: 363.954px 192.507px 0px;
      left: 48.63%;
      top: 55px;
    }
    .gwd-img-mood {
      position: absolute;
      width: 30px;
      height: 29px;
      transform-origin: 14.9363px 14.6807px 0px;
      left: 373px;
      top: 242px;
    }
    .gwd-img-1u3h {
      left: 366px;
      top: 305px;
      transform-origin: 29.9969px 28.9913px 0px;
    }
    .gwd-img-1q6m {
      width: 30px;
      transform-origin: 29.9969px 28.9913px 0px;
      left: 220px;
      top: 309px;
    }
    .gwd-img-1itq {
      width: 30px;
      height: 29px;
      transform-origin: 14.9363px 14.6807px 0px;
      left: 212px;
      top: 216px;
    }
    .gwd-img-1bdg {
      width: 30px;
      height: 29px;
      transform-origin: 14.9363px 14.6807px 0px;
      top: 271px;
      left: 177px;
    }
    .gwd-img-pwgz {
      top: 271px;
      left: 146px;
    }
    .gwd-img-tqpw {
      left: 373px;
      top: 242px;
      width: 30px;
      height: 29px;
      transform-origin: 14.9363px 14.6807px 0px;
    }
    .gwd-img-xdxv {
      width: 30px;
      height: 29px;
      transform-origin: 14.9363px 14.6807px 0px;
      left: 62px;
      top: 306px;
    }
    .gwd-img-8f5r {
      left: 62px;
      top: 254px;
    }
    .gwd-img-u0v9 {
      position: absolute;
      height: 42px;
      width: 41px;
      transform-origin: 20.2803px 20.9931px 0px;
      visibility: hidden;
      left: 418px;
      top: 184px;
    }
    .gwd-img-1fse {
      top: 241px;
      height: 29px;
      left: 375px;
      width: 30px;
      transform-origin: 14.9363px 14.6807px 0px;
    }
    .gwd-img-3yc8 {
      top: 298px;
      left: 360px;
    }
    .gwd-img-1908 {
      left: 214px;
      top: 304px;
    }
    .gwd-img-16s1 {
      left: 207px;
      top: 211px;
    }
    .gwd-img-162d {
      left: 173px;
      top: 265px;
    }
    .gwd-img-1xfe {
      top: 264px;
      left: 135px;
    }
    .gwd-img-ds25 {
      left: 57px;
      top: 247px;
    }
    .gwd-img-91eq {
      left: 57px;
      top: 300px;
    }
    .gwd-img-1m3g {
      left: 370px;
      top: 235px;
    }
    .gwd-span-srkn {
      position: absolute;
      border: 2px solid rgba(181, 160, 225, 0.960784);
      font-family: Arial;
      text-align: center;
      height: 20px;
      top: 238px;
      width: 67px;
      transform-origin: 33.1064px 8.05069px 0px;
      left: 298px;
      font-size: 14px;
      font-weight: bold;
      background-image: none;
      background-color: rgb(205, 202, 223);
    }
    .gwd-img-97wm {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 10px;
      top: 67px;
    }

